/data/*
/data
/build
static/master.csv

config.py
homicides-0218b6fcdc87.json
client_secret_718482799062-qgf2hev4ufdtkpgjfoh15kgbb5k9b3h1.apps.googleusercontent.com

.DS_Store
geocoder_gspread.py
*.pyc
