Flask==0.10.1
Frozen-Flask==0.11
Jinja2==2.7.2
MarkupSafe==0.23
Werkzeug==0.9.4
gspread==0.2.5
httplib2==0.9.1
itsdangerous==0.24
oauth2client==1.4.11
pyOpenSSL==0.13
pyasn1==0.1.7
pyasn1-modules==0.0.5
python-googlegeocoder==0.2.0
rsa==3.1.4
six==1.9.0
wsgiref==0.1.2
