/*basics*/

{
	padding: 0;
}

body {
	padding-top: 50px;
	padding-bottom: 0;
	margin: 0;
}

.clear {
	clear: both;
}

/*navigation*/
.nav-tophat {
	color: #FFFFFF;
	font-family: Arial, sans-serif;
	font-size: 11px;
	text-transform: uppercase;
	display: inline;
	}

#nav-home-li {
	text-transform: none;
}

/*unused css for navigation*/
nav {
	background: #282828;
	height: 50px;
	width: 100%;
	position: relative;
	}

.nav-container {
	margin-right: auto;
	margin-left: auto; 
	}

#nav-enlogo {
	display: block;
	min-width: 212px;
	height: 50px;
	background-repeat: no-repeat;
	background-position: left center;
	background-image: url(images/SAEN-Lines-Bw.png);
	margin-left: 1.5%;
	margin-right: 3%;
	padding-right: 3%;
	float: left;
	}
	
#nav-links ul {
	display: block;
	position: static;
	width: auto;
	margin-left: 0;
	padding: 0;
	float: left;
	}

#nav-links li {
	list-style-type: none;
	margin: 0;
	padding: 16px;
	display: inline-table;
	vertical-align: middle;
	}

#nav-links a {
	color:FFFFFF; 
	}
/*main-index page*/

.splash-container {
	width: 100%;
	position: relative;	
}

#splash-image {
	position: relative;
	max-width: 100%;
	height: auto;
	z-index: 0;
	}

#splash-hed {
	z-index: 100;
	width: 50%;
	position: absolute;
	color: #FFFFFF;
	font-family: Arial, sans-serif;
	font-size: 72px;
	font-weight: bold;
	text-transform: uppercase;
	margin-left:2.5%;
	bottom:-15px;
	}

#splash-dek {
	margin-left:2.5%;
	margin-right: 2.5%;
	margin-top: 15px;
	font-family: Georgia, Serif;
	}

#splash-intro {
	margin-left: 2.5%;
	margin-right: 2.5%;
	font-family: Georgia, Serif;
	font-size: 125%;
	}

.section-hed {
	margin-left: 2.5%;
	}

.year-container {
	width: 100%;
	padding-top: 1%;
	padding-bottom: 1%;
	margin-left: 2.5%;
	margin-right: 2.5%;
	text-align: center;
	}
	
.year-container a,a:hover {
	color:#000000;
	text-decoration: none;
}

.year-wrapper {
	width: 100%;
	}

.year-box {
	display: block;
	float: left;
	width: 300px;
	height: 275px;
	border-style: solid;
	border-width: 1px;
	border-radius: 10px;
	border-color: #D0D0D0;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 1%;
	margin-bottom: 1%;
	padding-left: 1.5%;
	padding-top: 1%;
	padding-bottom: 1%;
	padding-right: 1.5%;
	text-align: center;
	font-family: Georgia; Serif;
	text-decoration: none;
	}


#year {
	font-size: 48px;
	line-height: 90%;
}

#homicidenumber {
	padding-left: 0;
	margin-left: 0;
	font-size: 130px;
	line-height: 60%;
	color: #B00000;
}

#homicide-chatter {
	font-size: 48px;
	line-height: 100px;
}

#main-asterisk {
	margin-left:30px;
	margin-top:1%;
	margin-bottom: 1%;
	font-family: Georgia; Serif;
	text-decoration: none;
	font-size: 20px;

}
	
/*yearindex page*/
/*.yearindex-page {
	margin: 0;
	margin-left: 1.5%;
	margin-right: 1.5%;
	}*/

table {
	font-size: 12px;
	}

/*detail page*/

	
.detail-mainbody {
 	margin-left: auto;
	margin-right: auto;
	padding-left: 2%;
	padding-right: 2%;
	}

.app-nav {
	position: relative;
	float: left;
	width: 25%;
	max-width: 130px;
	margin-top: 20px;
	padding-right: 1%;
	margin-right: 1%;
	border-right: 1px solid;
	border-color: #C8C8C8;
	text-align: left; 
	}

/*story div*/
.info-body {
	position: relative;
	float: left;
	width: 75%;
	margin-left: 2%;
	text-align: left;
	font-family: "Georgia", serif;
	margin-bottom: 50px;
	}

.headline {
	width: 100%;
	}

.info-container {
	}

.story-container {
	position: relative;
	float: left;
	width: 60%;
	margin-bottom: 30px;
	}

/*factbox*/
.factbox-container {
	position: relative;
	float: right;
	width: 160px;
	font-family: "Arial", sans-serif;
	}

#factbox-brand {
	position: static;
	width: 100%;
	min-height: 25px;
	vertical-align: middle;
	background-color: #000000;
	text-transform:uppercase;
	vertical-align: middle;
	color: #FFFFFF;
	}
	
.factbox-title {
	min-height: 25px;
	line-height: 25px;
	margin-left: 2%;
	padding: 0;
	}
	
.factbox-info {
	position: static;
	padding: 0;
	margin-left: 2%;
	}

.factbox-info li {
	list-style: none;
	}

/*byline div*/
.byline {
	font-family: Georgia, Serif;
	}

.byline ul {
	list-style-type: square;
	margin-left: 1.5%;
	}

.data_desk_email{
	margin-top:1%;
	font-style: italic;
}
	
/*footer*/
footer {
  	position: relative;
  	margin-top: 15px;
  	width: 100%;
  	height: 50px;
  	background-color: #282828;
  	padding-left: 15px;
  	padding-right: 15px;
}

.footer-logo {
	display: block;
	min-width: 50px;
	height: 50px;
	background-repeat: no-repeat;
	background-position: left center;
	background-image: url(images/footer-logo.png);
	float: left;
}

.footer-tophat {
	display: table-cell;
	float: left;
	width: 85%;
	color: #FFFFFF;
	font-family: Arial, sans-serif;
	font-size: 11px;
	text-transform: uppercase;
	min-height: 50px;
	vertical-align: middle;
	line-height: 50px;
	}

.footer ul li {
	display: block;
	position: static;
	width: auto;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 0;
	padding: 0;
	float: left;
	vertical-align: middle;
	height: 50px;
	}

.footer a {
	color:FFFFFF; 
	}
