@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	#year-index-table table, #year-index-table thead, #year-index-table tbody, #year-index-table th, #year-index-table tr, #year-index-table td {
		display: block;
	}

	/* Hide table headers (but not display: none;, for accessibility) */
	#year-index-table thead tr { 
			position: absolute;
			top: -9999px;
			left: -9999px;
	}

	#year-index-table tr { 
		border: 1px solid #ccc; 
	}

	#year-index-table td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	#year-index-table td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	/*
	Label the data
	*/
	#year-index-table td:nth-of-type(1):before { content: "Name"; }
	#year-index-table td:nth-of-type(2):before { content: "Date"; }
	#year-index-table td:nth-of-type(3):before { content: "Address"; }
	#year-index-table td:nth-of-type(4):before { content: "Cause of death"; }
	#year-index-table td:nth-of-type(5):before { content: "Age"; }
	#year-index-table td:nth-of-type(6):before { content: "Race/Ethnicity"; }

}