/*basics*/

{
	padding: 0;
}

body {
	width: 100%;
	padding-top: 50px;
	padding-bottom: 0;
	margin: 0;
}

.clear {
	clear: both;
}

/*navigation*/
.nav-tophat {
	color: #FFFFFF;
	font-family: Arial, sans-serif;
	font-size: 11px;
	text-transform: uppercase;
	display: inline;
	}

.navbar-app-nav {
	font-family: Arial, sans-serif;
	font-size: 12px;
	}

#nav-home-li {
	text-transform: none;
}

/*unused css for navigation*/
nav {
	background: #282828;
	height: 50px;
	width: 100%;
	position: relative;
	}

.nav-container {
	margin-right: auto;
	margin-left: auto; 
	}

#nav-enlogo {
	display: block;
	min-width: 212px;
	height: 50px;
	background-repeat: no-repeat;
	background-position: left center;
	background-image: url(images/SAEN-Lines-Bw.png);
	margin-left: 1.5%;
	margin-right: 3%;
	padding-right: 3%;
	float: left;
	}
	
#nav-links ul {
	display: block;
	position: static;
	width: auto;
	margin-left: 0;
	padding: 0;
	float: left;
	}

#nav-links li {
	list-style-type: none;
	margin: 0;
	padding: 16px;
	display: inline-table;
	vertical-align: middle;
	}

#nav-links a {
	color:FFFFFF; 
	}
/*main-index page*/

.splash-container {
	width: 100%;
	position: relative;	
}

#splash-image {
	position: relative;
	max-width: 100%;
	height: auto;
	z-index: 0;
	}

#splash-hed {
	z-index: 100;
	width: 50%;
	position: absolute;
	color: #FFFFFF;
	font-family: Arial, sans-serif;
	font-size: 400%;
	font-weight: bold;
	text-transform: uppercase;
	margin-left:2.5%;
	bottom:-15px;
	}

.splash-info-body {
	position: relative;
	width: 87%;
	max-width: 1000px;
	margin-left: 5%;
	margin-right: 5%;
	text-align: left;
	font-family: "Georgia", serif;
	margin-bottom: 50px;
	}

#splash-dek {
	margin-top: 15px;
	font-family: Georgia, Serif;
	}

#splash-intro {
	font-family: Georgia, Serif;
	font-size: 115%;
	margin-bottom: 1.5%;
	}

.splash-share-buttons {
	max-width: 250px;
	height: 45px;
	border-style: dotted none;
	border-width: 1px;
	margin-left: 1%;
	margin-bottom: 1.5%;
}

.splash-share-buttons ul {
	display: block;
	position: inherit;
	margin: 0;
	padding-top: 10px;
	padding-left: -40px;
	}

.splash-share-buttons li {
	list-style-type: none;
	display: inline-table;
}


.section-hed {
	margin-left: 2.5%;
	}

.container{
	margin-bottom: 35px;
}

.year-container {
	width: 100%;
	padding-top: 1%;
	padding-bottom: 1%;
	padding-left: 2.5%;
	padding-right: 2.5%;
	text-align: center;
	}
	
.year-container a,a:hover {
	color:#000000;
	text-decoration: none;
}

.year-wrapper {
	width: 100%;
	}

.year-box {
	display: block;
	float: left;
	width: 300px;
	height: 275px;
	border-style: solid;
	border-width: 1px;
	border-radius: 10px;
	border-color: #D0D0D0;
	margin-left: 5px;
	margin-right: 5px;
	margin-top: 1%;
	margin-bottom: 1%;
	padding-left: 1.5%;
	padding-top: 1%;
	padding-bottom: 1%;
	padding-right: 1.5%;
	text-align: center;
	font-family: Georgia; Serif;
	text-decoration: none;
	}


.year {
	font-size: 48px;
	line-height: 90%;
}

.homicidenumber {
	padding-left: 0;
	margin-left: 0;
	font-size: 130px;
	line-height: 60%;
	color: #B00000;
}

.homicide-chatter {
	font-size: 48px;
	line-height: 100px;
}

#main-asterisk {
	margin-left:30px;
	margin-top:1%;
	margin-bottom: 1%;
	font-family: Georgia; Serif;
	text-decoration: none;
	font-size: 20px;

}
	
/*yearindex page*/
.yearindex-top-container {
	width: 95%;
	margin-top: 2%;
	padding-left: 5%;
	padding-right: 4.5%;
	margin-bottom: 25px;
}

.year-index-hed-container {
	margin-left: 1%;
	margin-right: 1%;
}

.detail-headline h1 {
	font-family: Arial, sans-serif;
	font-weight: bold;
	width: 95%;
}

#year-index-table_wrapper {
	margin-bottom: 50px;
	padding-left: 1%;
	padding-right: 1%;
}

.yearindex-share-buttons {
	max-width: 227px;
	height: 40px;
	border-style: dotted none;
	border-width: 1px;
	padding-bottom: 10px;
	margin-bottom:20px;
	vertical-align: middle;
}

.yearindex-share-buttons ul {
	display: block;
	vertical-align: middle;
	position: static;
	margin: 0;
	padding: 0;
	}

.yearindex-share-buttons li {
	list-style-type: none;
	margin: 0;
	padding: 10px;
	display: inline-table;
	vertical-align: middle;
}

.yearindex-table-container {
	margin-left: 4%;
	margin-right: 4.5%;
	padding-bottom: 30px;
}

table {
	font-size: 13px;
	width: 100%;
	}

table tr {
	padding: 1%;
	line-height: 25px;
}

table td::before {
	line-height: 13px;
	font-weight: bold;
}



/*detail page*/
	
.detail-mainbody {
 	margin-left: auto;
	margin-right: auto;
	padding-left: 2%;
	padding-right: 2%;
	}

.app-nav {
	position: relative;
	float: left;
	width: 25%;
	max-width: 130px;
	margin-top: 20px;
	padding-right: 1%;
	margin-right: 1%;
	border-right: 1px solid;
	border-color: #C8C8C8;
	text-align: left; 
	}

/*story div*/
.story-byline{
	font-family: Arial, sans-serif;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
	}

.info-body {
	position: relative;
	float: left;
	width: 85%;
	max-width: 1000px;
	margin-left: 7%;
	margin-right: 7%;
	padding-left: 2%;
	padding-right: 2%;
	text-align: left;
	font-family: "Georgia", serif;
	margin-bottom: 50px;
	}

.headline {
	width: 100%;
	}

.info-container {
	width: 85%;
	max-width: 1000px;
	margin-left: 7%;
	margin-right: 7%;
	}

.detail-headline h1 {
	font-family: Arial, sans-serif;
	font-weight: bold;
	width: 100%;
}
.details-share-buttons {
	max-width: 227px;
	height: 40px;
	border-style: dotted none;
	border-width: 1px;
	margin-bottom:10px; 
}

.details-share-buttons ul {
	display: block;
	position: static;
	margin: 0;
	padding: 0;
	}

.details-share-buttons li {
	list-style-type: none;
	margin: 0;
	padding: 10px;
	display: inline-table;
	}

#share-tease {
	font-family: Arial, sans-serif;
	font-size: 11px;
	text-transform: uppercase;
	padding: 0px;
	}

.story-container {
	position: relative;
	float: left;
	width: 60%;
	max-width:675px;
	margin-bottom: 30px;
	}

.story-container-new {
	width: 100%;
	max-width: 700px;
}

.story-container-new:first-child::first-letter { 
	float: left; 
	color: #903; 
	font-size: 75px; 
	line-height: 60px; 
	padding-top: 4px; 
	padding-right: 8px; 
	padding-left: 3px; 
	font-family: Georgia; 
}

/*new factbox*/
.details-factbox-container-new {
	font-family: Arial, sans-serif;
	width: 100%;
	margin-top:30px;
	}

.details-factbox-container-new ul {
	list-style-type: square;
	font-size: 14px;
	}

.factbox-header-container-new {
	width: 100px;
	font-family: "Arial", sans-serif;
	}

.factbox-brand-new {
	width: 100%;
	min-height: 20px;
	vertical-align: middle;
	background-color: #980000;
	text-transform:uppercase;
	vertical-align: middle;
	color: #FFFFFF;
	}

.factbox-brand-new h6 {
	vertical-align: middle;
	line-height: 20px;
	}

/*old factbox -- DO NOT USE*/
.factbox-container {
	position: relative;
	float: right;
	max-width: 160px;
	font-family: "Arial", sans-serif;
	}

#factbox-brand {
	position: static;
	width: 100%;
	min-height: 25px;
	vertical-align: middle;
	background-color: #000000;
	text-transform:uppercase;
	vertical-align: middle;
	color: #FFFFFF;
	}
	
.factbox-title {
	min-height: 25px;
	line-height: 25px;
	margin-left: 2%;
	padding: 0;
	}
	
.factbox-info {
	position: static;
	padding: 0;
	margin-left: 2%;
	}

.factbox-info li {
	list-style: none;
	}

/*splashpage byline div*/
.byline {
	font-family: Georgia, Serif;
	}

.byline ul {
	list-style-type: square;
	margin-left: 1.5%;
	}

.data_desk_email{
	margin-top:1%;
	margin-left: 3%;
	font-style: italic;
}

a.home-link-detail:link, a.home-link-detail:visited, a.home-link-detail:hover, a.home-link-detail:active {
	text-decoration: none; 
	color: black;
}

/*redesigned-article-template-css*/

	
/*footer*/

footer {
  	position: relative;
  	margin-top: 15px;
  	width: 100%;
  	height: 50px;
  	background-color: #282828;
  	padding-left: 15px;
  	padding-right: 15px;
}

.footer-logo {
	display: block;
	min-width: 50px;
	height: 50px;
	background-repeat: no-repeat;
	background-position: left center;
	background-image: url(images/footer-logo.png);
	float: left;
}

.footer-tophat {
	display: table-cell;
	float: left;
	width: 90%;
	color: #FFFFFF;
	font-family: Arial, sans-serif;
	font-size: 11px;
	text-transform: uppercase;
	min-height: 50px;
	vertical-align: middle;
	line-height: 50px;
	}

.footer ul li {
	display: block;
	position: static;
	width: auto;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 0;
	padding: 0;
	float: left;
	vertical-align: middle;
	height: 50px;
	}

.fb-share-button {
	margin-left: 25px;
}

.fb-share-button-detail {
	margin-left: 8px;
	margin-bottom: 10px;

}

#fb-share-button-index {
	margin-left: 60px;
	margin-bottom: 25px;
}

.footer-tophat ul, .footer-tophat li, .footer-tophat a {
	color: #FFFFFF;
} 

