<html>
	<head>

    <!--Facebook share code-->
            <meta property="og:url"     content="http://homicides.expressnews.com/{{ object.app_year }}/{{ object.HomicideNbr}}/" />
            <meta property="og:type"    content="website" />
            <meta property="og:title"   content="Homicides in San Antonio" />
            <meta property="og:description" content="{{ object.onlineName }} killed in {{ object.app_year }} on {{ object.IncidentDate }}." />
            <meta property="og:image" content="https://s3.amazonaws.com/saen-images/facebook-share.jpg" />

       <!--end Facebook share code-->

    <!--canonical for twitter tweet widget-->
       <link rel="canonical" href="http://homicides.expressnews.com/{{ object.app_year }}/{{ object.HomicideNbr}}/">
    <!-- end canonical for twitter tweet widget-->

		<title>Homicides in San Antonio in: {{ object.onlineName }}</title>
		<!--map/leaflet-->
  		<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />
      <script type="text/javascript" src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js?2"></script>
      <script type="text/javascript" src="http://maps.stamen.com/js/tile.stamen.js?v1.3.0"></script>
		<!--css/boostrap-->
      <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}" />
      <link rel="stylesheet" href="{{ url_for('static', filename='css/en-style.css') }}" />


            
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

            <!--dropdown menu code bootstrap and jquery-->   
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <!--end dropdown and bootstrap and jquery-->

        <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-54955008-1', 'auto');
  ga('send', 'pageview');

</script> 
<!-- Begin Hearst analytics -->
<script type="text/javascript" src="//nexus.ensighten.com/hearst/news-3p/Bootstrap.js"></script>
<!-- End Hearst analytics -->

	</head>
	<body>


              <!--fb-share root and sdk load-->
            <div id="fb-root"></div>
            <script>(function(d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0];
              if (d.getElementById(id)) return;
              js = d.createElement(s); js.id = id;
              js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4";
              fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));</script>
        <!--end:fb-share root and sdk load-->


        <!--twitter widget js-->
            <script>window.twttr = (function(d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0],
                t = window.twttr || {};
              if (d.getElementById(id)) return t;
              js = d.createElement(s);
              js.id = id;
              js.src = "https://platform.twitter.com/widgets.js";
              fjs.parentNode.insertBefore(js, fjs);
             
              t._e = [];
              t.ready = function(f) {
                t._e.push(f);
              };
             
              return t;
            }(document, "script", "twitter-wjs"));</script>
        <!-- end twitter widget -->

    <!--navigation-->
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        	<div class="navbar-header">
          		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            		<span class="sr-only">Toggle navigation</span>
            		<span class="icon-bar"></span>
            		<span class="icon-bar"></span>
            		<span class="icon-bar"></span>
          		</button>
          		<a class="navbar-brand" href="http://expressnews.com"></a>
        	</div>
        	<div class="navbar-collapse collapse">
        	<div class="nav-tophat">
          		<ul class="nav navbar-nav">
    				<li class="dropdown">
              		<a href="#" class="dropdown-toggle" data-toggle="dropdown">Search by year<span class="caret"></span></a>
              			<ul class="dropdown-menu" role="menu">
                		<li id="nav-home-li"><a href="/" class="navbar-app-nav">Home</a></li>
                		<li><a href="/2007" class="navbar-app-nav">2007</a></li>
                		<li><a href="/2008" class="navbar-app-nav">2008</a></li>
                		<li><a href="/2009" class="navbar-app-nav">2009</a></li>
                		<li><a href="/2010" class="navbar-app-nav">2010</a></li>
                		<li><a href="/2011" class="navbar-app-nav">2011</a></li>
                		<li><a href="/2012" class="navbar-app-nav">2012</a></li>
                		<li><a href="/2013" class="navbar-app-nav">2013</a></li>
                		<li><a href="/2014" class="navbar-app-nav">2014</a></li>
                    <li><a href="/2015" class="navbar-app-nav">2015</a></li>
              		</ul>
            		</li>            
                    <li>
                        <a href="http://www.expressnews.com/news/local/">Local</a>
                    </li>
                    <li>
                        <a href="http://www.expressnews.com/news/us-world/">U.S. & World</a>                           
                    </li>
                    <li>
                        <a href="http://www.expressnews.com/opinion/">Opinion</a>                          
                    </li>
                    <li>
                        <a href="http://www.expressnews.com/business/">Business</a>                            
                    </li>
                    <li>
                        <a href="http://www.expressnews.com/sports/">Sports</a>                            
                    </li>
                    <li>
                        <a href="http://www.expressnews.com/entertainment/">Arts</a>                           
                    </li>
                    <li>
                    	<a href="http://www.expressnews.com/lifestyle/">Life</a>
                    </li>

          		</ul>
        </div><!--/nav-tophat-->
        </div><!--/.nav-collapse -->
    </div>
    <!--end navigation block-->
    <!--map div-->    
        <div id="map" style="width:100%; height:300px;"></div>
	<!--main body-->
		<div class="detail-mainbody">
			<div class="info-body">
				<div class = "headline">
					<h1>{{ object.onlineName }}, {{ object.enAgeCalc }}</h1>
            <!--share buttons go here-->
        <div class = "details-share-buttons">
          <ul>
            <li><div class="fb-share-button fb-share-button-detail" data-href="http://homicides.expressnews.com/{{ object.app_year }}/{{ object.HomicideNbr}}/" data-layout="button_count"></div></li>
            <li><a class="twitter-share-button" href="https://twitter.com/intent/tweet?text={{ object.onlineName }}%20killed%20on%20{{object.IncidentDate}}%20at%20{{ object.enAddress }}.%20-%20San%20Antonio%20Express-News%20Homicide%20Archive%20-%20Read%20More:%20" data-counturl="http://homicides.expressnews.com/{{ object.app_year }}/{{ object.HomicideNbr}}/">>Tweet</a></li>
          </ul>
        </div>
        <div class = "factbox-container">
          <div id= "factbox-brand"><h4 class="factbox-title">Case Facts:</h4></div>
          <ul class="factbox-info">
            <li><strong>Date of incident:</strong>
            <p>{{ object.IncidentDate }}</li>
            <li><strong>Address:</strong>
            <p>{{ object.enAddress }}</li>
            <li><strong>Age:</strong> {{ object.enAgeCalc }}</li> 
            <li><strong>Race:</strong> {{ object.Race }}</li>
            <li><strong>Gender:</strong> {{ object.Gender }}</li>   
          </ul>
        </div>
				<div class = "info-container">
					<!--main story-->
					<div class = "story-container">
            <div class = "story-byline">By Express-News staff
              <p><em>Story published: {{ object.pub_date|safe }}</em>
            </div>
						<div class = "story-copy"> {{ object.published_story_html|safe }}</div>
            <div class="data_desk_email">
              <p>Information, praise, comments or concerns, please email: <a href="mailto:jkokenge@express-news.net">jkokenge@express-news.net</a>
            </div>
          </div>
				</div>
			</div>
			<div class="article-nav">
				<h4>Explore this app:</h5>
					<h5><a href="/" class="home-link-detail">Home</a></h4>
					<h5>Search by year:</h5>
					<div class="btn-group">
						<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">Year <span class="caret"></span>
  						</button>
  					
  						<ul class="dropdown-menu" role="menu">
    						<li><a href="/2007">2007</a></li>
    						<li><a href="/2008">2008</a></li>
    						<li><a href="/2009">2009</a></li>
    						<li><a href="/2010">2010</a></li>
    						<li><a href="/2011">2011</a></li>
    						<li><a href="/2012">2012</a></li>
    						<li><a href="/2013">2013</a></li>
    						<li><a href="/2014">2014</a></li>
    						<li><a href="/">Homepage</a></li>

  						</ul>
				</div>
			</div>
	
	<!--footer-->
    	<footer class="footer navbar-fixed-bottom">
    		<div class="container">
    			<a class="footer-logo" href="http://expressnews.com"></a>
    			<div class="navbar-collapse collapse">
    			<div  class="footer-tophat">
        			<ul>
        				<li>
        				<a href="https://myaccount.expressnews.com/dssSubscribe.aspx?PID=248&z=00000&verifyemail=true">Subscribe</a>
        				</li>
        				<li id="footer-links"><a href="http://www.expressnews.com/newsroom_contacts/">Newsroom Contacts</a>
        				</li>
        				<li id="footer-links"><a href="http://www.expressnews.com/terms_of_use/">Terms of Use</a>
        				</li>
        				<li id="footer-links"><a href="http://hearstmediasanantonio.com/">Advertise</a>
        				</li>
        				<li>&copy; 2015
        				</li>
        			</ul>
        		</div>
        		</div>
        	</div>
    	</footer>	
	<!--leafet code-->
		<script type="text/javascript">
            var map = L.map('map',{scrollWheelZoom: false}).setView([{{ object.lat }}, {{ object.long }}], 15);
            var layer = new L.StamenTileLayer("toner-lite");
            var myIcon = L.icon({
   				iconUrl: '{{ url_for('static', filename='css/images/map-pin.png') }}',
    			iconSize: [30, 30],
    			popupAnchor: [-3, -76],
			});
            map.addLayer(layer);
            var marker = L.marker([{{ object.lat }}, {{ object.long }}], {icon: myIcon}).addTo(map);
        </script>
    <!--end leaflet code-->
		<!--Based on the First News App bootcamp at NICAR14. Built with the help, both witting and unwitting, of the kind folks on The Los Angeles Times' data desk and Chicago Tribune's News Apps team-->
    </body>
</html>