<html lang="en">
    <head>
    	<!--meta-->
    		<meta charset="utf-8">
    		<meta http-equiv="X-UA-Compatible" content="IE=edge">
    		<meta name="viewport" content="width=device-width, initial-scale=1">
            <meta name="google-site-verification" content="4TOq_MuTdoEImXPIlb_0vi7axAA2FUogR9I8BJPAFWA" />
    	<!--title and shit-->
    	<title>Homicides in San Antonio</title>
    	<!--map code-->
    		<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />
        	<script type="text/javascript" src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js?2"></script>
        <!--css/boostrap-->
            <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}" />
            <link rel="stylesheet" href="{{ url_for('static', filename='css/en-style.css') }}" />
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    	<!--[if lt IE 9]>
      		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    	<![endif]--> 




        <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-54955008-1', 'auto');
  ga('send', 'pageview');

</script>

    <!--jQuery (necessary for Bootstrap's JavaScript plugins)-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>  
    <!--end jQuery -->




        <!--Hearst Analytics-->
        <script type="text/javascript">(function(e){var t=e.createElement("script");if(document.cookie.indexOf("nsghtn=dev")>-1){console.log("Ensighten DEV");t.src=e.location.protocol+"//nexus.ensighten.com/hearst/news-dev/Bootstrap.js"}else{console.log("Ensighten 3rd Party");t.src=e.location.protocol+"//nexus.ensighten.com/hearst/news-3p/Bootstrap.js"}t.async=true;e.getElementsByTagName("head")[0].appendChild(t)})(document)</script>
        <!--end Hearst Analytics--> 


        
    </head>
	<body class="detail-page">

                <!-- Hearst ATM: SA Premium 3rd Party Main -->
        <script type="text/javascript">//<![CDATA[
        var amc=amc||{};if(!amc.on){amc.on=amc.call=function(){}};
        document.write("<scr"+"ipt type=\"text/javascript\" src=\"//www.adobetag.com/d1/v2/ZDEtaGVhcnN0LTMwNzctNDQ2OC0=/amc.js\"></sc"+"ript>");
        //]]></script>
       <!-- End Hearst ATM -->


        <!--navigation-->
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        	<div class="navbar-header">
          		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            		<span class="sr-only">Toggle navigation</span>
            		<span class="icon-bar"></span>
            		<span class="icon-bar"></span>
            		<span class="icon-bar"></span>
          		</button>
          		<a class="navbar-brand" href="http://expressnews.com"></a>
        	</div>
        	<div class="navbar-collapse collapse">
        	<div class="nav-tophat">
          		<ul class="nav navbar-nav">
					<li class="dropdown">
              		<a href="#" class="dropdown-toggle" data-toggle="dropdown">Search by year<span class="caret"></span></a>
              			<ul class="dropdown-menu" role="menu">
                		<li id="nav-home-li"><a href="/">Home</a></li>
                		<li><a href="/2007">2007</a></li>
                		<li><a href="/2008">2008</a></li>
                		<li><a href="/2009">2009</a></li>
                		<li><a href="/2010">2010</a></li>
                		<li><a href="/2011">2011</a></li>
                		<li><a href="/2012">2012</a></li>
                		<li><a href="/2013">2013</a></li>
                		<li><a href="/2014">2014</a></li>
              		</ul>
            		</li>            
                    <li>
                        <a href="http://www.expressnews.com/news/local/">Local</a>
                    </li>
                    <li>
                        <a href="http://www.expressnews.com/news/us-world/">U.S. & World</a>                           
                    </li>
                    <li>
                        <a href="http://www.expressnews.com/opinion/">Opinion</a>                          
                    </li>
                    <li>
                        <a href="http://www.expressnews.com/business/">Business</a>                            
                    </li>
                    <li>
                        <a href="http://www.expressnews.com/sports/">Sports</a>                            
                    </li>
                    <li>
                        <a href="http://www.expressnews.com/entertainment/">Arts</a>                           
                    </li>
                    <li>
                    	<a href="http://www.expressnews.com/lifestyle/">Life</a>
                    </li>

          		</ul>
        </div><!--/nav-tophat-->
        </div><!--/.nav-collapse -->
    </div>
    <!--end navigation block-->
    <!--splash image goes here-->
    <div class="splash-container">
        <img id="splash-image" src="{{ url_for('static', filename = 'images/splashmain-use.jpg') }}" alt="This is a photo from a SAPD crime scene, where police were investigating a suspected homicide in 2012" />
        <p id="splash-hed">Homicide:</p>
    </div>
		<!--Subhead and chatter will go here with H2 or H3 styling-->  
    	<h1 id="splash-dek"> Over the past nine years, more than 800 people were killed on the streets of San Antonio. </h1>
    	<div class="byline">
    		<ul>
    			<li>Written by: Nolan Hicks</li>
    			<li>Developed by: Nolan Hicks and Joseph Kokenge</li>
    			<li>Stories by: San Antonio Express-News staff reporters</li>
                <li>Homicide data updated and maintained by: Jacob Beltran</li>
    		</ul>
    	</div>
    	<div id="splash-intro">
    		<p>Every homicide victim has a story. They were someone's child, someone's parent. Some were bystanders: the young, the old, the hard worker who happened to be in the wrong place at the wrong time. Others were participants: criminals, gangsters, drug dealers, pimps. Some were shot out on the streets, others were killed in their homes. Every one of their deaths impacted their families, their friends and their neighborhoods.</p>
    		<p>From January 2007 through to the present day, reporters at the Express-News have tracked every homicide in the city limits, publishing hundreds of stories along the way. This ongoing project aims to combine those records and stories, transforming them into a standing community resource that provides a record of those lost and serve as an exhibit of the cumulative impact of violence in our community.</p>
            <p>Each weekend, Express-News reporters update the homicides from the past week.  In addition, reporters are in constant contact with SAPD officials to verify details related to both confirmed and suspected homicides.</p>
    	</div>
    	<!--year-by-year search goes here-->
    	<div class="section-hed"><h2>Search by year:</h2></div>
    	<div class="year-container">
    		<div class="year-wrapper">
    			<a href="/2007" class="year-box">
    				<p class="year">In 2007, there were</p> 
    				<p class="homicidenumber">126</p>
    				<p class="homicide-chatter">homicides</p>
    			</a>
    			<a href="/2008" class="year-box">
    				<p class="year">In 2008, there were</p> 
    				<p class="homicidenumber">136</p>
    				<p class="homicide-chatter">homicides</p>
    			</a>
    			<a href="/2009" class="year-box">
    				<p class="year">In 2009, there were</p> 
    				<p class="homicidenumber">114</p>
    				<p class="homicide-chatter">homicides</p>

    			</a>
    			<a href="/2010" class="year-box">
    				<p class="year">In 2010, there were</p> 
    				<p class="homicidenumber">99</p>
    				<p class="homicide-chatter">homicides</p>
    			</a>
    			<a href="/2011" class="year-box">
    				<p class="year">In 2011, there were</p> 
    				<p class="homicidenumber">97</p>
    				<p class="homicide-chatter">homicides</p>
    			</a>
    			<a href="/2012" class="year-box">
    				<p class="year">In 2012, there were</p> 
    				<p class="homicidenumber">108</p>
    				<p class="homicide-chatter">homicides</p>
    			</a>
    			<a href="/2013" class="year-box">
    				<p class="year">In 2013, there were</p> 
    				<p class="homicidenumber">100</p>
    				<p class="homicide-chatter">homicides</p>
    			</a>
    			<a href="/2014" class="year-box">
    				<p class="year">In 2014, there were</p> 
    				<p class="homicidenumber">70</p>
    				<p class="homicide-chatter">homicides</p>
    			</a>
                <a href="/2015" class="year-box">
                    <p class="year">In 2015, there were</p>
                    <p class="homicidenumber">2</p>
                    <p class="homicide-chatter">homicides</p>
                </a>
    		</div>
    	</div>
        <div class="clear"></div>
		<div class="data_desk_email">
       		<p>Some 2015 homicides are omitted while the Express-News works with the SAPD to verify details.</p>
        	<p>Information, praise, comments or concerns, please email: <a href="mailto:jkokenge@express-news.net">jkokenge@express-news.net</a></p>
        </div>
    </div><!--closes container-->
    <footer class="footer">
        <a class="footer-logo" href="http://expressnews.com"></a>
        <div class="navbar-collapse collapse">
            <div  class="footer-tophat">
                <ul>
                    <li>
                    <a href="https://myaccount.expressnews.com/dssSubscribe.aspx?PID=248&z=00000&verifyemail=true">Subscribe</a>
                    </li>
                    <li id="footer-links"><a href="http://www.expressnews.com/newsroom_contacts/">Newsroom Contacts</a>
                    </li>
                    <li id="footer-links"><a href="http://www.expressnews.com/terms_of_use/">Terms of Use</a>
                    </li>
                    <li id="footer-links"><a href="http://hearstmediasanantonio.com/">Advertise</a>
                    </li>
                    <li>&copy; 2014
                    </li>
                </ul>
            </div>
        </div>
    </footer>
  	
		<!--Based on the First News App bootcamp at NICAR14. Built with the help, both witting and unwitting, of the kind folks on The Los Angeles Times' Data Desk and Chicago Tribune's News Apps team-->
    </body>
</html>