<html lang="en">
    <head>
    	<!--meta-->
    		<meta charset="utf-8">
    		<meta http-equiv="X-UA-Compatible" content="IE=edge">
    		<meta name="viewport" content="width=device-width, initial-scale=1">
    	<!--title and shit-->
    	<title>Homicides in San Antonio</title>
    	<!--map code-->
    		<link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />
        	<script type="text/javascript" src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js?2"></script>
        <!--css/boostrap-->
            <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}" />
            <link rel="stylesheet" href="{{ url_for('static', filename='css/en-style.css') }}" />
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    	<!--[if lt IE 9]>
      		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      		<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    	<![endif]-->   
    </head>
	<body class="detail-page">
    	<!--navigation-->
    <!-- Fixed navbar -->
            <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<div class="container">
        	<div class="navbar-header">
          		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            		<span class="sr-only">Toggle navigation</span>
            		<span class="icon-bar"></span>
            		<span class="icon-bar"></span>
            		<span class="icon-bar"></span>
          		</button>
          		<a class="navbar-brand" href="#"></a>
        	</div>
        	<div class="navbar-collapse collapse">
        	<div class="nav-tophat">
          		<ul class="nav navbar-nav">
					<li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Search by year<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/2007">2007</a></li>
                <li><a href="/2008">2008</a></li>
                <li><a href="/2009">2009</a></li>
                <li><a href="/2010">2010</a></li>
                <li><a href="/2011">2011</a></li>
                <li><a href="/2012">2012</a></li>
                <li><a href="/2013">2013</a></li>
                <li><a href="/2014">2014</a></li>
              </ul>
            </li>            
                    <li>
                        <a href="http://www.mysanantonio.com/news/local/">Local</a>
                    </li>
                    <li>
                        <a href="http://www.mysanantonio.com/news/politics/">Politics</a>
                    </li>   
                    <li>
                        <a href="http://www.mysanantonio.com/news/us-world/">U.S. & World</a>                           
                    </li>
                    <li>
                        <a href="http://www.mysanantonio.com/opinion/">Opinion</a>                          
                    </li>
                    <li>
                        <a href="http://www.mysanantonio.com/business/">Business</a>                            
                    </li>
                    <li>
                        <a href="http://www.mysanantonio.com/sports/">Sports</a>                            
                    </li>
                    <li>
                        <a href="http://www.mysanantonio.com/entertainment/">Life & Arts</a>                           
                    </li>

          </ul>
        </div><!--/nav-tophat-->
        </div><!--/.nav-collapse -->
      </div>
    </div>
	<!--end navigation block-->
    <!--splash image goes here-->
    <div class="splash-container">
        <img id="splash-image" src="{{ url_for('static', filename = 'images/splashmain-use.jpg') }}" alt="This is a photo from a SAPD crime scene, where police were investigating a suspected homicide in 2012" />
        <p id="splash-hed">Homicide:</p>
    </div>
		<!--Subhead and chatter will go here with H2 or H3 styling-->
    <div class="container">    
    	<h1 id="splash-dek"> Over seven years, more than 800 people were killed on the streets of San Antonio. </h1>
    	<div class="byline">
    		<ul>
    			<li>Written by: Nolan Hicks</li>
    			<li>Developed by: Nolan Hicks and Joseph Kokenge</li>
    			<li>Stories by San Antonio Express-News staff reporters</li>
    		</ul>
    	</div>
    	<div id="splash-intro">
    		<p>Every homicide victim has a story. They were someone's child, someone's parent. Some were innocent bystanders, the young, the old, the hard worker who happened to be in the wrong place at the wrong time. Others were criminals, gangsters, drug dealers or pimps. Some were shot out on the streets, others were killed in their home. Every one of their deaths impacted their families and their communities. 
    		<p>From January 2007 through June 2013, reporters at the Express-News kept track of every homicide in the city limits, publishing hundreds of stories along the way. The project aims to combine the records and stories and transform them into a standing community resource, that will serve as a record of who were lost and as an exhibit of the cumulative impact of violence in our community.  
    	</div>
    </div>
    	<!--year-by-year search goes here-->
    <div class="container">
    	<div class="section-hed"><h2>Search by year:</h2></div>
    	<div class="year-container">
    		<div class="year-wrapper">
    			<a href="/2007" class="year-box">
    				<p id="year">In 2007, there were</p> 
    				<p id="homicidenumber">127</p>
    				<p id="homicide-chatter">homicides</p>
    			</a>
    			<a href="/2008" class="year-box">
    				<p id="year">In 2008, there were</p> 
    				<p id="homicidenumber">78</p>
    				<p id="homicide-chatter">homicides</p>
    			</a>
    			<a href="/2009" class="year-box">
    				<p id="year">In 2009, there were</p> 
    				<p id="homicidenumber">97</p>
    				<p id="homicide-chatter">homicides</p>
    			</a>
    			<a href="/2010" class="year-box">
    				<p id="year">In 2010, there were</p> 
    				<p id="homicidenumber">113</p>
    				<p id="homicide-chatter">homicides</p>
    			</a>
    			<a href="/2011" class="year-box">
    				<p id="year">In 2011, there were</p> 
    				<p id="homicidenumber">XXX</p>
    				<p id="homicide-chatter">homicides</p>
    			</a>
    			<a href="/2012" class="year-box">
    				<p id="year">In 2012, there were</p> 
    				<p id="homicidenumber">XXX</p>
    				<p id="homicide-chatter">homicides</p>
    			</a>
    			<a href="/2013" class="year-box">
    				<p id="year">In 2013, there were</p> 
    				<p id="homicidenumber">XXX</p>
    				<p id="homicide-chatter">homicides</p>
    			</a>
    			<!-- <a href="2014" class="year-box">
    				<p id="year">In 2014, there were</p> 
    				<p id="homicidenumber">XXX</p>
    				<p id="homicide-chatter">homicides</p> 
    			</a>-->
    		</div>
    	</div>
    </div><!--closes container-->
    <!--jQuery (necessary for Bootstrap's JavaScript plugins)-->
    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    	<!-- Include all compiled plugins (below), or include individual files as needed -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
		<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>    	
		<!--Based on the First News App bootcamp at NICAR14. Built with the help, both witting and unwitting, of the kind folks on The Los Angeles Times' Data Desk and Chicago Tribune's News Apps team-->
    </body>
</html>