<html lang="en">
    <head>
        <!--meta-->
            <meta charset="utf-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--title-->
        <title>Homicides in San Antonio in {{ object_list[0].app_year }}</title>
        <!--map code-->
            <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css" />
            <script type="text/javascript" src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js?2"></script>
            <script type="text/javascript" src="http://maps.stamen.com/js/tile.stamen.js?v1.3.0"></script>
        <!--css/boostrap-->
            <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}" />
            <link rel="stylesheet" href="{{ url_for('static', filename='css/en-style.css') }}" />
        <!--datatables-->
        	<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.0/css/jquery.dataTables.css">
        	<!--use this jquery library for both bootstrap and datatables-->
        		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        	<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.0/js/jquery.dataTables.js"></script>
        	<script type="text/javascript" class="init">
        		$(document).ready( function () {
    				$('#year-index-table ').DataTable( {
    					paging: false
    				} );
				} );
        	</script>
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->  

        <!--bootstrap js libs necessary for dropdown menu to function-->
             <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
        <!--end this block-->

        <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-54955008-1', 'auto');
  ga('send', 'pageview');
</script> 

        <!--Hearst Analytics-->
        <script type="text/javascript">(function(e){var t=e.createElement("script");if(document.cookie.indexOf("nsghtn=dev")>-1){console.log("Ensighten DEV");t.src=e.location.protocol+"//nexus.ensighten.com/hearst/news-dev/Bootstrap.js"}else{console.log("Ensighten 3rd Party");t.src=e.location.protocol+"//nexus.ensighten.com/hearst/news-3p/Bootstrap.js"}t.async=true;e.getElementsByTagName("head")[0].appendChild(t)})(document)</script>
        <!--end Hearst Analytics-->

    </head>
    <body>
                <!-- Hearst ATM: SA Premium 3rd Party Main -->
        <script type="text/javascript">//<![CDATA[
        var amc=amc||{};if(!amc.on){amc.on=amc.call=function(){}};
        document.write("<scr"+"ipt type=\"text/javascript\" src=\"//www.adobetag.com/d1/v2/ZDEtaGVhcnN0LTMwNzctNDQ2OC0=/amc.js\"></sc"+"ript>");
        //]]></script>
       <!-- End Hearst ATM -->
       
        <!--navigation-->
        <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        	<div class="navbar-header">
          		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            		<span class="sr-only">Toggle navigation</span>
            		<span class="icon-bar"></span>
            		<span class="icon-bar"></span>
            		<span class="icon-bar"></span>
          		</button>
          		<a class="navbar-brand" href="http://expressnews.com"></a>
        	</div>
        	<div class="navbar-collapse collapse">
        	<div class="nav-tophat">
          		<ul class="nav navbar-nav">
					<li class="dropdown">
              		<a href="#" class="dropdown-toggle" data-toggle="dropdown">Search by year<span class="caret"></span></a>
              			<ul class="dropdown-menu" role="menu">
                		<li id="nav-home-li"><a href="/">Home</a></li>
                		<li><a href="/2007">2007</a></li>
                		<li><a href="/2008">2008</a></li>
                		<li><a href="/2009">2009</a></li>
                		<li><a href="/2010">2010</a></li>
                		<li><a href="/2011">2011</a></li>
                		<li><a href="/2012">2012</a></li>
                		<li><a href="/2013">2013</a></li>
                		<li><a href="/2014">2014</a></li>
              		</ul>
            		</li>            
                    <li>
                        <a href="http://www.expressnews.com/news/local/">Local</a>
                    </li>
                    <li>
                        <a href="http://www.expressnews.com/news/us-world/">U.S. & World</a>                           
                    </li>
                    <li>
                        <a href="http://www.expressnews.com/opinion/">Opinion</a>                          
                    </li>
                    <li>
                        <a href="http://www.expressnews.com/business/">Business</a>                            
                    </li>
                    <li>
                        <a href="http://www.expressnews.com/sports/">Sports</a>                            
                    </li>
                    <li>
                        <a href="http://www.expressnews.com/entertainment/">Arts</a>                           
                    </li>
                    <li>
                    	<a href="http://www.expressnews.com/lifestyle/">Life</a>
                    </li>

          		</ul>
        </div><!--/nav-tophat-->
        </div><!--/.nav-collapse -->
    </div>
    <!--end navigation block-->
    <div id="map" style="width:100%; height:350px;"></div>
        	<div class="year-index-hed-container">
        		<h1>San Antonio Homicides: {{ object_list[0].app_year }} </h1>
        	</div>
        	<!--Subhead and chatter will go here with H2 or H3 styling-->
        	<table id="year-index-table" class="display">
        		<thead>    
            		<tr>
                		<th>Name</th>
                		<th>Date</th>
                		<th>Address</th>
                		<th>Cause of Death</th>
                		<th>Age</th>
                		<th>Race/Ethnicity</th>
            		</tr>
            	</thead>
            	<tbody>
        		{% for obj in object_list %}       
            		<tr>
                		<td><a href="{{ obj.HomicideNbr }}/">{{ obj.onlineName }}</a></td>
                		<td>{{ obj.IncidentDate }}</td>
                		<td>{{ obj.SapdADDRESS }}</td>
                		<td>{{ obj.METHOD|title }}</td>
                		<td>{{ obj.enAgeCalc }}</td>
                		<td>{{ obj.Race }}</td>
            		</tr>
        		{% endfor %}
        		</tbody>
        	</table>
        <!--footer-->
    <footer class="footer navbar-fixed-bottom">
            <a class="footer-logo" href="http://expressnews.com"></a>
            <div class="navbar-collapse collapse">
            <div  class="footer-tophat">
                <ul>
                    <li>
                    <a href="https://myaccount.expressnews.com/dssSubscribe.aspx?PID=248&z=00000&verifyemail=true">Subscribe</a>
                    </li>
                    <li id="footer-links"><a href="http://www.expressnews.com/newsroom_contacts/">Newsroom Contacts</a>
                    </li>
                    <li id="footer-links"><a href="http://www.expressnews.com/terms_of_use/">Terms of Use</a>
                    </li>
                    <li id="footer-links"><a href="http://hearstmediasanantonio.com/">Advertise</a>
                    </li>
                    <li>&copy; 2014
                    </li>
                </ul>
            </div>
    </footer>
	</body>
        <!--map code-->
        <script type="text/javascript">
            var map = L.map('map', {scrollWheelZoom: false}).setView([29.4467297, -98.5094801], 10);
            var layer = new L.StamenTileLayer("toner-lite");

            map.addLayer(layer);
            var data = {
              "type": "FeatureCollection",
              "features": [
                {% for obj in object_list %}
                {
                  "type": "Feature",
                  "properties": {
                    "full_name": "{{ obj.onlineName }}",
                    "id": "{{ obj.HomicideNbr }}"
                  },
                  "geometry": {
                    "type": "Point",
                    "coordinates": [{{ obj.long }}, {{ obj.lat }}]
                  }
                }{% if not loop.last %},{% endif %}
                {% endfor %}
              ]
            };

            console.log(data);
			
			var geojsonMarkerOptions = {
    			radius: 7,
    			fillColor: "#ff6600",
    			color: "#000",
    			weight: 1,
   				opacity: 1,
    			fillOpacity: 0.8
			};
			
			var dataLayer = L.geoJson(data, {
                pointToLayer: function (feature, latlng) {
        			return L.circleMarker(latlng, geojsonMarkerOptions);
        		},
                onEachFeature: function(feature, layer) {
                    layer.bindPopup(
                        '<a href="' + feature.properties.id + '/">' +
                            feature.properties.full_name +
                        '</a>'
                    );
                }
            });

            console.log(dataLayer);
            map.addLayer(dataLayer);
        </script>
        <!--Built with the help, both witting and unwitting, of the kind folks on The Los Angeles Times' data desk-->
</html>